<div class="post">
  <h1>Can vision phase through vibranium ?</h1>
  <p>I know that the Mind Stone is an Infinity Stone with profound power over matter. Thus the mind stone has the power to "deactivate" the boundaries of things like walls, enabling the Vision to walk through walls. But vibranium is extremely strong and yet the Mind Stone is able to make vibranium pass through walls. </p>
  <p>We know why vibranium can be made to pass through walls (because we know what the Mind Stone is) but is there an in-universe mock-science explanation within the comics and/or movies of how the Mind Stone enables him to do this? </p>

  <div class="commenter">
    <div class="hdr">
      <label>Comments</label>
    </div>
    <app-comment [comment]="comments" [rootNode]="true" (saveToParent)="addComment($event)" (updateServiceStore)="updateStore()"></app-comment>
  </div>
</div>